.app {
  height: 100%;
  width: 100%;
}

.select-row {
  float: right;
  height: 10px;
  position:absolute;
  right: 150px;
  z-index: 2;
}

.react-stockchart {
  position:absolute;
  top:10px;
  z-index: 1;
}
